In [157]:
import pandas as pd
from pprint import pprint

In [158]:
input_panda=pd.read_csv('./sunburst_panda.csv',sep='@')
input_panda.drop('Unnamed: 0',inplace=True,axis='columns')
value_column='intensity_average'
column_list=['binvestigate','species','organ','disease']

In [159]:
input_panda

,binvestigate,species,organ,disease,intensity_average
0,binvestigate,Bos Taurus,Plasma,No,0.080795
1,binvestigate,Bos Taurus,Serum,No,0.101723
2,binvestigate,Bos Taurus,Urine,No,0.000042
3,binvestigate,Canis lupus familiaris,Plasma,No,0.048346
4,binvestigate,Canis lupus familiaris,Serum,No,0.093071
5,binvestigate,Escherichia coli,Culture Media,No,0.371001
6,binvestigate,felis catus,Serum,No,0.100592
7,binvestigate,Homo Sapiens,Cells,No,0.440080
8,binvestigate,Homo Sapiens,"Endothelium, Lymphatic",No,0.000212
9,binvestigate,Homo Sapiens,Liver,No,0.028063
10,binvestigate,Homo Sapiens,"Muscle, Skeletal",No,0.037496
11,binvestigate,Homo Sapiens,Plasma,No,0.094867
12,binvestigate,Homo Sapiens,Serum,No,0.100013
13,binvestigate,Homo Sapiens,Urine,No,0.011818
14,binvestigate,Mus Musculus,Cells,Neoplasms,0.464930
15,binvestigate,Mus Musculus,Cells,No,0.902155
16,binvestigate,Mus Musculus,Epithelial Cells,No,0.019405
17,binvestigate,Mus Musculus,Heart Ventricles,No,0.012432
18,binvestigate,Mus Musculus,Hypothalamus,No,0.014649
19,binvestigate,Mus Musculus,Liver,No,0.051839
20,binvestigate,Mus Musculus,"Muscle, Skeletal",No,0.034539
21,binvestigate,Mus Musculus,Plasma,No,0.071515
22,binvestigate,Mus Musculus,Serum,No,0.084554
23,binvestigate,Mus Musculus,Spinal Cord,No,0.013759
24,binvestigate,Mus Musculus,Urine,No,0.008240
25,binvestigate,Ovis aries,Carotid Arteries,No,0.040770
26,binvestigate,Ovis aries,Plasma,No,0.094077
27,binvestigate,Ovis aries,Urine,No,0.002303
28,binvestigate,Ovis aries,Uterine Artery,No,0.003627
29,binvestigate,Rattus,Esophagus,No,0.046750
30,binvestigate,Rattus,Ileum,No,0.203176
31,binvestigate,Rattus,Liver,No,0.034894
32,binvestigate,Rattus,Plasma,No,0.085622
33,binvestigate,Rattus,Serum,No,0.117118
34,binvestigate,Rattus,Urine,No,0.011620
35,binvestigate,Sus domesticus,Plasma,No,0.022601

In [162]:
def coerce_full_panda(df,value_column,column_list):
    pandas_list=list()
    for i in range(len(column_list),0,-1):
        pandas_list.append(
            pd.DataFrame(
                data={
                    'count':df.groupby(by=column_list[0:i]).size().to_list(),
                    'sum':df.groupby(by=column_list[0:i])[value_column].sum().to_list(),
                    'parent':['/'.join(group[0][:i-1]) for group in df.groupby(by=column_list[0:i])],
                    'id':df[column_list[0:i]].T.agg('/'.join).unique(),
                    'name':df.groupby(by=column_list[0:i])[column_list[i-1]].unique().map(lambda x: x[0]).values
                }
            )
        )
    tree_panda=pd.concat(pandas_list,axis='index')
    tree_panda['average']=tree_panda['sum']/tree_panda['count']
    return tree_panda

In [163]:
tree_panda=coerce_full_panda(input_panda,value_column,column_list)

In [164]:
tree_panda

,count,sum,parent,id,name,average
0,1,0.080795,binvestigate/Bos Taurus/Plasma,binvestigate/Bos Taurus/Plasma/No,No,0.080795
1,1,0.101723,binvestigate/Bos Taurus/Serum,binvestigate/Bos Taurus/Serum/No,No,0.101723
2,1,0.000042,binvestigate/Bos Taurus/Urine,binvestigate/Bos Taurus/Urine/No,No,0.000042
3,1,0.048346,binvestigate/Canis lupus familiaris/Plasma,binvestigate/Canis lupus familiaris/Plasma/No,No,0.048346
4,1,0.093071,binvestigate/Canis lupus familiaris/Serum,binvestigate/Canis lupus familiaris/Serum/No,No,0.093071
...,...,...,...,...,...,...
5,4,0.140777,binvestigate,binvestigate/Mus Musculus,Ovis aries,0.035194
6,6,0.499179,binvestigate,binvestigate/Ovis aries,Rattus,0.083197
7,1,0.022601,binvestigate,binvestigate/Rattus,Sus domesticus,0.022601
8,1,0.100592,binvestigate,binvestigate/Sus domesticus,felis catus,0.100592
0,36,3.848693,,binvestigate,binvestigate,0.106908

In [ ]:
def generate_descendant_count(df,column_list,i):
    print(df.groupby(by=column_list[0:i]).size())
    
    #my_GroupBy=df.groupby(by=column_list[0:i])
    #for group in my_GroupBy:
    #    print(group[1].index.size())

In [ ]:
def generate_sums(df,column_list,i,value_column):
    print(
        df.groupby(by=column_list[0:i])[value_column].sum()
    )
    #r#eturn df[column].to_list()
    ##my_GroupBy=df.groupby(by=column_list[0:i])
    #pprint(list(my_GroupBy))
    ##for group in my_GroupBy:
        #print([str(element)+group[0])
        #print('/'.join(group[0][:i-1]))
   ##     print(group[1][value_column].sum())

In [ ]:
def generate_parents(df,column_list,i):
    print(df[column_list[0:i-1]].T.agg('/'.join).unique())
    #r#eturn df[column].to_list()
    ##my_GroupBy=df.groupby(by=column_list[0:i])
    #pprint(list(my_GroupBy))
    ##for group in my_GroupBy:
        #print([str(element)+group[0])
    ##    print('/'.join(group[0][:i-1]))

In [ ]:
# def generate_parents(df,column_list,i):
#     #r#eturn df[column].to_list()
#     my_GroupBy=df.groupby(by=column_list[0:i])
#     #pprint(list(my_GroupBy))
#     for group in my_GroupBy:
#         #print([str(element)+group[0])
#         print('/'.join(group[0][:i-1]))

In [ ]:
def generate_ids(df,column_list,i):
    #r#eturn df[column].to_list()
    my_GroupBy=df.groupby(by=column_list[0:i])
    #pprint(list(my_GroupBy))
    for group in my_GroupBy:
        #print([str(element)+group[0])
        print('/'.join(group[0]))

In [ ]:
def generate_labels(df,column_list,i):
    #r#eturn df[column].to_list()
    my_GroupBy=df.groupby(by=column_list[0:i])
    pprint(list(my_GroupBy))
    #for group in my_GroupBy:
    #    print(group[0][-1])

In [ ]:
coerce_full_panda(input_panda,value_column,column_list)